:root {
    --bg-dark: #1F2937;
    --fc-hero-white: #f9faf8;
    --fc-hero-sec: #E5E7EB;
    --fc-logo: #F9FAF8;
    --bg-blue-button: #3882F6;
    --fc-content-header: #1F2937;
    --bg-quote: #E5E7EB;
    --fc-quote: #1F2937;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.hero, .footer {
    background-color: var(--bg-dark);
}

.header {
    display: flex;
    align-items: center;
    padding: 5px 75px;
}
.header-logo {
    margin-right: auto;
    color: var(--fc-logo);
}
.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: var(--fc-hero-sec);
}
a{
    text-decoration: none;
    color: var(--fc-hero-sec);
}

.content {
    
}

.gallery {

}

.quote-section {

}
.quote {

}
.author {

}

.signUp-section{

}
.signUp-block {

}
.signUp-title {

}
.signUp-description {

}

.footer {

}